<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/metaHead'); %>
</head>
<body>
  <%- include('./partials/header'); %>
  <form action="" method="post" class="ui form">
      <label>Year:</label>

      <label>Month:</label>

      <label>Budget:</label>

      <input type="date" name="name" value="<%= budget.year || '' %>" placeholder="Name">
      <input class="ui primary button" type="submit" value="Save">
    </form>
</body>
</html>