<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/metaHead'); %>
</head>
<body>
    
  <%- include('./partials/header'); %>
  <hr>
  <h1>Hello World</h1>  
  <% if(locals.loggedInUser){ %>
    HELLO <%= loggedInUser.name %>
  <% } %>
</body>
</html>