<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/metaHead'); %>
</head>
<body>
  <%- include('./partials/header'); %>
  <h3>Add this to your Wish list?</h3>
  <form action="" method="post" class="ui form">
    <label>Wish Name:</label>
    <input type="text" value="<%=wish.name%>" name="name">
    <input class="ui primary button" type="submit" name="yesno" value="Yes">
    <input class="ui primary button" type="submit" name="yesno" value="No">
  </form>
</body>
</html>
